
stages:
  - test
  - build
  - push

before_script:
  - mkdir -p $GOPATH/src/github.com/meinto /builds/meinto/tags
  - cp -r $CI_PROJECT_DIR $GOPATH/src/github.com/meinto
  - ln -s $GOPATH/src/github.com/meinto /builds/meinto/tags
  - cd $GOPATH/src/github.com/meinto/tags

test:
  stage: test
  tags: 
    - docker
  image: golang:1.11
  script: 
    - go get ./...
    - go test ./...
  only: 
    - master

build:
  stage: build
  tags:
    - docker
  image: docker
  script:
    - docker build -t tags:$CI_PIPELINE_IID .
  only: 
    - master

push:
  stage: push
  tags:
    - docker
  script:
    - docker login -u $DOCKER_USER -p $DOCKER_PASS
    - docker push tags:$CI_PIPELINE_IID
    - docker rmi tags:$CI_PIPELINE_IID --force

