
stages:
  - test

before_script:
  - mkdir -p $GOPATH/src/github.com/meinto /builds/meinto/tags
  - cp -r $CI_PROJECT_DIR $GOPATH/src/github.com/meinto
  - ln -s $GOPATH/src/github.com/meinto /builds/meinto/tags
  - cd $GOPATH/src/github.com/meinto/tags

test:
  stage: test
  tags:
    - docker
  image: golang:1.11
  script: 
    - go get ./...
    - go test ./...